body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/background.jpeg);
}

nav {
    background-color: #3973ac;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

nav :hover {
    background: #4f9eee;
}

header {
    background: black;
    margin: 0px;
}

.no-underline {
    text-decoration: none;
    color: white;
}

.flex-container {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}