body {
    font-family: Arial, Helvetica, sans-serif; /* change font to sans serif */
    background-image: url(images/background.jpeg); /* background image */
    background-attachment: fixed; /* background image will cover entire page regardless of zoom */
    color: white; /* white text */
    padding-top: 75px; /* this will stop any content from getting blocked by navbar */
    padding-bottom: 40px;
    background-color: black;
}

nav {
    background-color: black; /* background colour for nav bar */
    display: flex; /* flexbox display to arrange content */
    align-items: center; /* center text. text will stick to the top otherwise */
    justify-content: center; /* moves content towards the center of the page. without this the navbar will be skewed to the left     */
    top: 0; /* stick navbar to the top */
    left: 0; /* stick navbar to the left */
    position: fixed; /* allow navbar to move while user scrolls */
}

nav a {
    color: white; /* white text */
    text-decoration: none; /* remove hyperlink underline */
    font-size: 30px; /* increase font size */
    padding: 22px; /* this just makes the navbar more visually pleasing */
}

nav a:hover { /* target a tags in navbar */
    opacity: 0.5; /* reduce text opacity while hovering over navbar content. Makes it easier to tell which link is being clicked */
}

table {
    margin-left: auto;
    margin-right: auto;
}

tr td{
    background-color: grey;
    border: 1px solid black;
}

.center-video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header p {
    font-size: 25px; /* adjust p tag font size in header */
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: black;
    width: 100%;
}

footer p {
    padding-left: 10px;
}

.contact-form {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.flex-container { /* everything in this class gives the navbar shape */
    margin: 0;
    padding: 0;
    width: 100%;
}

.logo img { /* logo image size adjust */
    height: 75px;
}

.login { /* align login form to the center of the screen */
    padding-top: 15%;
    text-align: center;
    
}

.submit-button {
    text-align: center;
    padding-top: 5px;
}

.center { /* generic center class that can be assigned to anything I want to move to the middle of the screen */
    text-align: center;
}

.photos { /* photo grid flexbox */
    align-content: center;
}

.big-text {
    font-size: large;
}